APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=khopkmobile
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=911box.info@gmail.com
MAIL_PASSWORD=fyrftzepinzknpuo
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=911box.info@gmail.com
MAIL_FROM_NAME="KhoPKMobile"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_RECAPTCHA_KEY=6LclDa0ZAAAAALLc5GMSA2ODC292h8DPU1j4GZJU
GOOGLE_RECAPTCHA_SECRET=6LclDa0ZAAAAALLc5GMSA2ODC292h8DPU1j4GZJU

FACEBOOK_APP_ID = 417912232463301
FACEBOOK_APP_SECRET = 6b2d6b3ef97567fec29fe19cdf51af21
FACEBOOK_APP_CALLBACK_URL = https://khopkmobile.xyz/auth/callback/facebook

PAYPAL_CLIENT_ID=ARxJipcdkVMbE7PBuAsmIGRT9ZTIBG7IUudevxu9a_-CwizXC6Oz2KpI9Zg63-NVusdH99yJYc0s18JK
PAYPAL_SECRET=EIUnl93D5e_1Q3WIosx9nYYkHu_boQZwX22vfwwzsK3pkrrmUD9YN104kXd6_06u7zTe9II7Q7Y3Yvnr
PAYPAL_MODE=sandbox